*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-link {
  color: white; 
 padding: 0;
 display: flex;
 align-items: center;
}

.nav-link button{
  color: white;
  display: flex;
  align-items: center;
}
.nav-link button svg{
margin-right: .3rem;
}

.text-title{
  text-transform: uppercase;
}
.text-title {
  font-family: cursive;
}

.text-title h3 {
  margin: 0;
}

nav a {
  font-family: cursive;
}

.card{
  text-shadow: 1px 1px 1px rgb(255, 0, 0);
  margin-top: 2rem;
}
.card:hover .card {
transform: scale(1.2);
background: black;
}

.card .img-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-top: 1.5rem;
  overflow: hidden;
  
}

.card:hover img {
  transform: scale(1.2);
}
.img-container a {
  display: flex;
  justify-content: center;
}
.card  img {
  width: 60%;
  padding-bottom: 3rem;
  align-self: center;
  transition: all .7s ease-in;
}

.card p{
  margin: 0;
}
.card button{
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 1rem;
  padding: .3rem .5rem;
  color: rgb(38, 88, 134);
  position: absolute;
  right: 0;
  bottom: 0;
  border: none;
  border-top-left-radius: 5px;
  background-color: rgb(106, 106, 235);
  color: white;
  transform: translate(100%, 100%);
  transition: all .7s ease-in;
  cursor: pointer;
}
.card:hover button {
  transform: translate(0%, 0%);
}
.card .card-footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.card-footer h5{
  margin: 0;
}

.details-page {
color: rgb(82, 73, 73)
}

.details-page .container {
  margin-top: 4rem;
}
.details-page .phone-title {
  padding-bottom: 3rem;
}
.phone-title h3{
  font-family: cursive;
}

.phone-info h4{
   padding-bottom: 1rem;
   margin: 0;
   font-family: cursive;
}
.phone-info h5 {
  padding-bottom: 1rem;
  margin: 0;
  font-family: cursive;
}
.phone-info h3 {
  padding-bottom: 1rem;
  margin: 0;
   font-family: cursive;
   font-weight: bold;
}
.phone-info h6 {
  padding-bottom: 1rem;
  margin: 0;
  font-family: cursive;
  font-weight: bold;
}
.phone-info p {
  padding-bottom: 2rem;
  margin: 0;
  line-height: 25px;
}
.btns {
  display: flex;
}

.btns button:first-child{
  margin-right: 1rem;
  color: rgb(18, 124, 196);
  background: transparent;
  padding: .3rem .5rem;
  border: 2px solid rgb(3, 153, 253);
  border-radius: 5px;
  font-weight: 700;
  transition: all 1s ease;
}
.btns button:nth-child(2) {
  margin-right: 1rem;
  color: rgb(255, 217, 0);
  background: transparent;
  padding: .3rem .5rem;
  border: 2px solid rgb(255, 217, 0);
  border-radius: 5px;
   font-weight: 700;
   transition: all 1s ease;
}
.btns button:first-child:hover{
  transform: scale(1.1);
  color: white;
 background-color: rgb(18, 124, 196);   
}

.btns button:nth-child(2):hover {
  transform: scale(1.1);
  color: white;
  background-color: rgb(255, 217, 0);
}

button:focus {
  outline: none;
}

.modalDiv {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.377);
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-modal {
background-color: white;
color: rgba(12, 12, 12, 0.411);
text-transform: capitalize;
border-radius: 3px;
}

.my-modal h4{
  
}
.my-modal h3 {
  font-weight: bold;
}
.modal-container{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-product-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-product-info img {
  height: 16rem;
 margin-bottom: 1rem;

}
.modal-btns {
  display: flex;
}
.modal-btns button{
  margin: .5rem;
}

.modal-btns button:nth-child(1) {
  color: rgb(18, 124, 196);
  background: transparent;
  padding: .3rem .5rem;
  border: 2px solid rgb(3, 153, 253);
  border-radius: 5px;
  font-weight: 700;
  transition: all 1s ease;
}

.modal-btns button:first-child:hover {
  transform: scale(1.1);
  color: white;
  background-color: rgb(18, 124, 196);
}

.modal-btns button:nth-child(2) {
  color: rgb(255, 217, 0);
  background: transparent;
  padding: .3rem .5rem;
  border: 2px solid rgb(255, 217, 0);
  border-radius: 5px;
  font-weight: 700;
  transition: all 1s ease;
}

.modal-btns button:nth-child(2):hover {
  transform: scale(1.1);
  color: white;
  background-color: rgb(255, 217, 0);
}

.cart-page {

}

.cart-page img {
  height: 8rem;
}
.cart-page .col-sm-2{
display: flex;
justify-content: center;
height: 100%;
margin-top: 1rem;
align-items: center;
}
.cart-page .col-sm-2 button{
  padding: 0rem .4rem;
  margin: .3rem;
}

.cart-page svg {
  color: red;
  font-size: 1.5rem;
  cursor: pointer;
}
.cart-page a {
  color: white;
  text-decoration: none;
}
.cart-page h6{
  margin: 0;
}
.cart-page p {
  margin: 0;
}

.subtotal-tax-total{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  align-items: flex-end;
  font-family: cursive;
}
.subtotal-tax-total p{
  font-weight: bold;
  margin: .3rem;
  font-size: 1.2rem;
  font-family: cursive;
}

.default-page {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.badge{
  background-color: #6C757D;
}

.login-container {
  width: 30%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container form {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-container form input{
  padding: .6rem 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  margin: 1rem 0rem;
}
.login-container form input:focus {
outline: none;
}
.rem-me-forget-pwod{
  display: flex;
  justify-content: space-between;
  align-items: center;
   margin: 1rem 0rem;
}
.rem-me-forget-pwod p{
  align-items: center;
  margin: .5rem 0rem;
}
.login-container .login-btn{
   background-color: rgb(255, 217, 0)
}

.login-container button{
  border: none;
  margin-top: 2rem;
  padding: .7rem 0;
  color: white;
  font-size: .8rem;
 
}

.login-container .login-WG-btn{
  background-color: #4285F4;
}
.login-container a {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  color: #6C757D;
}

.signup-container {
    width: 50%;
    margin: 0 auto;
    display: flex; 
    flex-direction: column;
    
}

.signup-container form {
    padding-top: 5rem;
    width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  
}

.signup-container .upper-info{
  width: 100%;
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: space-between;
}

.signup-container input:focus{
  outline: none;
}

.upper-info input{
border: none;
border-bottom: 1px solid black;
padding: .5rem 0rem;

}

.signup-container .lower-info {
  width: 100%;
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: space-between;

}

.lower-info input {
   border: none;
   border-bottom: 1px solid black;
   padding: .5rem 0rem;
   
   
}
.signup-container input{
 width: 48%;
}

.phone-no{
margin-bottom: 2rem;
width: 100%;
}
.phone-no input{
   border: none;
   border-bottom: 1px solid black;
   padding: .5rem 0rem;
}

.signup-container button{
width: 100%;
margin: 1rem 0rem;
border: none;
background-color: #4285F4;
padding: .5rem;
color: white;
}
.signup-container form button {
  width: 100%;
  border: none;
  background-color:rgb(255, 217, 0);
  padding: .5rem;
color: white;
}
.account-content {
background-color: #F5F3F3;
  height: 100vh;
  width: 100%;


}
.account-details-container {
  width: 45%;
  margin: 0 auto;
 align-items: center;
 justify-content: center;
  display: flex;
  height: 100%;
}

.account-details-container form {
  padding: 2rem;
 
   margin-top: 3rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
    
}

.account-details-container label{
  display: flex;
  flex-direction: column;
  width: 48%;
}

.account-details-container .names{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.account-details-container label {
  
}

.account-details-container .phone{
  width: 100%;
  display: flex;
}
.account-details-container .phone label{
  width: 100%;
}
.account-details-container .address label {
  width: 100%;
}

.account-details-container .state-lga{
  display: flex;
  justify-content: space-between;
}
.account-details-container input {
  padding: .3rem .5rem;
  border-radius: 5px;
   margin-bottom: 2rem;
   border: .2px solid rgba(0, 0, 0, 0.37);


}
.account-details-container input:focus {
outline: none;


}
.account-details-container select{
  padding: .3rem .5rem;
   border-radius: 5px;
     border: .2px solid rgba(0, 0, 0, 0.397);
}
.account-details-container select:focus {
 outline: none;
}
.account-details-container h5 {
  
}
.account-details-container button{
  background-color: rgb(255, 0, 0);
  color: white;
  border: none;
  padding: .5rem 0rem;
  margin-top: 2rem;
  text-transform: uppercase;
}

.address-content {
background-color: #F5F3F3;
height: 100%;
padding-bottom: 2rem;


}

.address-content .account-details-container{
 width: 50%;
  margin: 0 0rem ;
}

.delivery-container {
   width: 100%;
   margin: 1rem 0rem;
   background-color: white;
}

.delivery-container form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.delivery-container form input {

}
.delivery-container h5 {
 

}

.delivery-container .door-delivery{
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}

.delivery-container label {
  display: flex;
}

.delivery-container input{
  margin-right: 1rem;
}
.address-content svg{
  margin-right: 1rem;
}
.delivery-container svg{
  margin-right: 1rem;
}

.delivery-container h6{
  margin: 0;
}

.checkout .container{
  min-width: 100%;
}

.checkout .account-details-container{
  width: 100%;
}
.icon-title{
  display: flex;
  align-items: center;
 margin-bottom: 2rem;
 padding: .3rem;
 background-color: white;
 width: 100%;
 border: none;
 border-bottom: .2px solid rgba(0, 0, 0, 0.356);
}
.icon-title-active svg{
color: rgb(2, 255, 2);
}

.order-summary-content {
  background-color: white;
 
  margin-top: 3.5rem;
}
.order-summary-content p{
  font-size: .8rem;
  margin: .3rem;
}

.order-summary-content-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.order-summary-content .img-and-details{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
   
   margin-bottom: .5rem;
}
.order-summary-content .img-and-details img {
  height: 120px;
}
.order-summary-content .product-calc{
  display: flex;
  flex-direction: column;
}
.order-summary-content .product-calc p{
  font-weight: bold;
}
.order-summary-content .product-calc p:nth-child(2) {
  color: red;
}
.order-summary-product-content {
width: 40%;
 display: flex;
 flex-direction: column;
 align-items: flex-end;
}

.order-summary-content .subtotal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.order-summary-content .tax {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.order-summary-content .delivery-cost {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.order-summary-content .total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.process-order-btn {
  width: 100%;
}

.process-order-btn button{
  width: 100%;
  border: none;
  background-color: #808080;
  padding: .3rem .5rem;
  border-radius: 5px;
  color: white;

}

.process-order-btn .green-btn-active{
  background-color: rgb(10, 219, 10);
}

.payment-with-card {
  background-color: #F5F7FA;
  width: 100%;
  height: 90vh;
  display: flex;
  position: relative;
}
.payment-with-card-container {
  width: 35%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
}

.payment-with-card-container h6 {
  font-size: .9rem;
}

.payment-order-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.payment-order-summary h6 {
  margin: 0;
  font-size: .9rem;
}
.payment-order-summary button{
  border: none;
  background-color: #6C757D;
  padding: .5rem .8rem;
  border-radius: 5px;
  color: white;
  font-size: .8rem;
  
}

.total-to-pay {
  margin: .5rem 0rem;
  display: flex;
  background-color: white;
  justify-content: space-between;
  padding: .8rem;
  align-items: center;
}

.total-to-pay h4 {
  margin: 0;
  font-size: .9rem;
}

.total-to-pay p{
  margin: 0;
  font-size: .9rem;
  font-weight: bold;
  color: red;
}

.payment-with-card-container .payment {
  background-color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.payment-with-card-container .payment button {
  width: 100%;
  padding: .5rem .8rem;
  border: none;
  background-color: #6C757D;
  color: white;
  border-radius: 5px;

}
.payment-with-card-container img {
  height: 100px;
  width: 200px;
  margin-top: 1rem;
}

.see-details-modal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.267);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  display: flex;
}

.see-details-modal-container {
  width: 35%;
  margin: 0 auto;
  background-color: white;
}

.see-details-modal-container2{
  display: flex;
  flex-direction: column;
 
}

.see-details-modal p {
   margin: 0;
   font-size: .8rem;
   text-transform: capitalize;
}
.see-details-modal h5 {
  margin: 0;
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: bold;
 
}
.see-details-modal h6 {
  margin: 0;
  color: rgba(0, 0, 0, 0.397);
  font-weight: bold;
   font-size: .8rem;
}
.title-and-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
   padding: 1rem;
}

.title-and-close button{
  border: none;
 padding: .5rem;
 border-radius: 50%;
  align-items: center;
  display: flex;
  color: white;
  background-color: #6C757D;
}
.modal-cart-items{
  background-color: #F5F7FA;
  padding: 1rem;
   align-items: center;
   display: flex;
  
}
.modal-items-products-qty{
padding: 0 1rem 1rem 1rem;
}
.modal-items-products-qty2{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.pro-order-title-and-price{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
 
}

.pro-order-qty{
  display: flex;
  align-items: center;
  margin-top: .5rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.274);
 
}

.pro-order-qty p{
  margin-right: 3rem;
}

.shipping-fee{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:  0 1rem 1rem 1rem ;
  border-bottom: 2px solid rgba(0, 0, 0, 0.274);
}
.tax-fee {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.274);
}
.see-details-modal .order-total{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.274);

}

.payment-summary{
  background-color: #F5F7FA;
  padding: 1rem;
}
.modal-total-to-pay{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}






@media (max-width: 1200px) {
  .account-details-container {
    width: 60%;
  }
  .signup-container{
     width: 60%;
  }
  .login-container{
    width: 50%;
  }
  .order-summary-product-content {
    width: 46%;
  }
  .payment-with-card-container{
     width: 50%;
  }
  .see-details-modal-container{
     width: 50%;
  }
}
@media (max-width: 992px) {
  .account-details-container {
    width: 70%;
  }
  .signup-container {
    width: 70%;
  }
   .login-container {
     width: 60%;
   }
   .order-summary-product-content {
     width: 65%;
    
   }
   .payment-with-card-container {
     width: 60%;
   }
   .see-details-modal-container {
     width: 60%;
   }

}
@media (max-width: 768px) {
   .account-details-container {
     width: 75%;
   }
   .signup-container {
     width: 75%;
   }
    .login-container {
      width: 65%;
    }
    .payment-with-card-container {
      width: 65%;
    }
    .see-details-modal-container {
      width: 70%;
    }
}

@media (max-width: 576px) {
   .account-details-container {
     width: 80%;
   }
   .account-details-container .names {
     flex-direction: column;
   }

   .account-details-container label {
     width: 100%;
   }

   .account-details-container .state-lga {
     flex-direction: column;
   }
   .signup-container {
     width: 80%;
   }
   .signup-container .upper-info{
     flex-direction: column;
     margin: 0;
   }
   .signup-container input{
     width: 100%;
     margin-bottom: 1.5rem;
   }
 
   .signup-container .lower-info{
      flex-direction: column;
      margin: 0;
   }
    .login-container {
      width: 80%;
    }
    .payment-with-card-container {
      width: 80%;
    }
    .see-details-modal-container {
      width: 80%;
    }
}



@media (max-width: 400px) {
  .account-details-container {
    width: 90%;
  }

  .account-details-container .names{
    flex-direction: column;
  }
  .account-details-container label {
    width: 100%;
  }
  .account-details-container .state-lga{
    flex-direction: column;
  }
  .signup-container {
    width: 90%;
  }
   .login-container {
     width: 95%;
   }
   .login-container a{
     font-size: .9rem;
   }
   .payment-with-card-container {
     width: 95%;
   }
   .see-details-modal-container {
     width: 95%;
   }

}

